fastapi==0.104.1
uvicorn==0.24.0
pydantic==2.11.9
starlette==0.27.0
python-dotenv==1.0.0
prometheus-client==0.20.0
python-jose==3.5.0
passlib==1.7.4
bcrypt==4.0.1
groq==0.4.1
youtube-transcript-api==1.2.2
requests==2.31.0
