name: CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to ACR
        run: |
          echo ${{ secrets.ACR_PASSWORD }} | docker login stashdidoacr.azurecr.io -u ${{ secrets.ACR_USERNAME }} --password-stdin

      - name: Build image
        run: |
          docker build -t stashdidoacr.azurecr.io/stash:latest .

      - name: Push image
        run: |
          docker push stashdidoacr.azurecr.io/stash:latest